.About {
  width: 100%;
  background-color: rgba(228, 60, 92, 0.8);
}
.h1 {
  color: white;
  text-align: center;
  margin-top: 50px;
}
.Contact {
  height: 100vh;
  background-color: #2b2b2b;
}
.Portfolio {
  padding: 0 10%;
}
.Left {
  position: absolute;
  left: 5%;
}
.Left:hover svg {
  cursor: pointer;
  fill: black;
}
.Right {
  position: absolute;
  right: 5%;
}
.Right:hover svg {
  cursor: pointer;
  fill: black;
}
.Homebutton {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 30;
}
.Homebutton .Icon {
  color: rgba(228, 60, 92, 0.8);
}
.Homebutton:hover .Icon {
  color: white;
  cursor: pointer;
}
@media (max-width: 500px) {
  .h1 {
    margin: 30px;
  }
  .Homecontent {
    margin-top: 60px;
  }
  .Left {
    left: 5px;
  }
  .Right {
    right: 5px;
  }
  .Homebutton .Icon {
    color: white;
  }
  .Homebutton {
    left: 30px;
    top: 20px;
  }
  .Homebutton:hover .Icon {
    color: black;
  }
}
.DetailImage {
  width: 100%;
}
.Gallery {
  margin: 0 80px;
  min-height: 1px;
}
