.Allpage {
  width: calc(100%-100px);
  height: 100%;
  background: #2a2a2a;
  padding: 70px 50px 80px 50px;
  color: white;
}
.Allpage h1 {
  margin-bottom: 0;
}
.Header {
  width: auto;
  padding: 0 15%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .Header {
    padding: 0 3%;
  }
}
