.Onepage {
  padding: 50px;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  background-color: #2a2a2a;
}

.Onepage h1 {
  text-align: center;
  margin: 50px;
  color: white;
}
.SiteImage {
  margin: 20px 0 40px 0;
  width: 100%;
  height: 400px;
}
.Image {
  width: 100%;
  height: calc(100% - 24px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.Image img {
  width: 100%;
  height: auto;
}
.Content {
  align-self: center;
  width: 70%;
}
.Content h2 {
  color: #cacaca;
}
.Content h4 {
  line-height: 1.4em;
  color: #8a8a8a;
  margin: 0.5em 0;
  text-align: justify;
}
.Content hr {
  display: block;
  height: 1px;
  width: 50%;
  background-color: #484848;
  position: relative;
  border: 0;
  margin: 0.5em 0 1em;
}
.Bar {
  display: block;
  position: relative;
  height: 24px;
  background-color: #ddd;
  width: 100%;
  color: #6a6a6a;
  z-index: 10;
}
.Bar h2 {
  content: attr(data-text);
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: #8a8a8a;
  margin: 0;
}
.Bar i:before {
  content: " ";
  left: 16px;
  background-color: #ffbd2e;
  top: 0;
  height: 12px;
  width: 12px;
  display: inline-block;

  border-radius: 50%;
  position: absolute;
}
.Bar i:after {
  content: " ";
  left: 32px;
  background-color: #28ca41;
  top: 0;
  height: 12px;
  width: 12px;
  display: inline-block;

  border-radius: 50%;
  position: absolute;
}
.Bar i {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: #ff5f57;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 10px;
}
.Bar h2 {
  color: black;
}
.Backlist {
  position: fixed;
  top: 30px;
  left: 90px;
  width: 52px;
  height: 55px;
  display: block;
  -moz-transition: -moz-transform 0.25s ease-out 0.3s;
  -o-transition: -o-transform 0.25s ease-out 0.3s;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  -webkit-transition-delay: 0.3s;
  transition: transform 0.25s ease-out 0.3s;

  --txp: 11px;
  --typ: 11px;
  --txm: -11px;
  --tym: -11px;
}

.Backlist i {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #7a7a7a;
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  -moz-transition: -moz-transform 0.15s ease-out;
  -o-transition: -o-transform 0.15s ease-out;
  -webkit-transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
}
.Backlist i:nth-child(1) {
  -moz-transform: translateY(var(--tym)) translateX(var(--txm));
  -ms-transform: translateY(var(--tym)) translateX(var(--txm));
  -webkit-transform: translateY(var(--tym)) translateX(var(--txm));
  transform: translateY(var(--tym)) translateX(var(--txm));
}
.Backlist i:nth-child(2) {
  -moz-transform: translateY(var(--tym)) translateX(0);
  -ms-transform: translateY(var(--tym)) translateX(0);
  -webkit-transform: translateY(var(--tym)) translateX(0);
  transform: translateY(var(--tym)) translateX(0);
}
.Backlist i:nth-child(3) {
  -moz-transform: translateY(var(--tym)) translateX(var(--txp));
  -ms-transform: translateY(var(--tym)) translateX(var(--txp));
  -webkit-transform: translateY(var(--tym)) translateX(var(--txp));
  transform: translateY(var(--tym)) translateX(var(--txp));
}
.Backlist i:nth-child(4) {
  -moz-transform: translateX(var(--txm));
  -ms-transform: translateX(var(--txm));
  -webkit-transform: translateX(var(--txm));
  transform: translateX(var(--txm));
}
.Backlist i:nth-child(6) {
  -moz-transform: translateX(var(--txp));
  -ms-transform: translateX(var(--txp));
  -webkit-transform: translateX(var(--txp));
  transform: translateX(var(--txp));
}
.Backlist i:nth-child(7) {
  -moz-transform: translateY(var(--typ)) translateX(var(--txm));
  -ms-transform: translateY(var(--typ)) translateX(var(--txm));
  -webkit-transform: translateY(var(--typ)) translateX(var(--txm));
  transform: translateY(var(--typ)) translateX(var(--txm));
}
.Backlist i:nth-child(8) {
  -moz-transform: translateY(var(--typ));
  -ms-transform: translateY(var(--typ));
  -webkit-transform: translateY(var(--typ));
  transform: translateY(var(--typ));
}
.Backlist i:nth-child(9) {
  -moz-transform: translateY(var(--typ)) translateX(var(--txp));
  -ms-transform: translateY(var(--typ)) translateX(var(--txp));
  -webkit-transform: translateY(var(--typ)) translateX(var(--txp));
  transform: translateY(var(--typ)) translateX(var(--txp));
}
.Backlist:hover {
  --txp: 14px;
  --typ: 14px;
  --txm: -14px;
  --tym: -14px;
}
.Burger {
  position: fixed;
  right: 83px;
  top: 35px;
  z-index: 30;
  cursor: pointer;
  padding: 5px 4px;
  background-color: transparent;
}
.Backlist span {
  display: inline-block;
  color: #8a8a8a;
  position: absolute;
  white-space: nowrap;
  top: calc(50% - 15.5px);
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  opacity: 0;
  text-transform: lowercase;
  font-size: 1.15em;
  line-height: 1.7em;
  -moz-transition: opacity 0.1s ease 0.125s,
    -moz-transform 0.3s cubic-bezier(0, 0, 0, 1) 0.125s;
  -o-transition: opacity 0.1s ease 0.125s,
    -o-transform 0.3s cubic-bezier(0, 0, 0, 1) 0.125s;
  -webkit-transition: opacity 0.1s ease,
    -webkit-transform 0.3s cubic-bezier(0, 0, 0, 1);
  -webkit-transition-delay: 0.125s, 0.125s;
  transition: opacity 0.1s ease 0.125s,
    transform 0.3s cubic-bezier(0, 0, 0, 1) 0.125s;
}
@media (max-width: 1024px) {
  .Burger {
    right: 23px;
  }
  .Backlist {
    left: 23px;
  }
}
.Burger i:nth-child(n) {
  -moz-transition: -moz-transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5),
    background 0.3s ease;
  -o-transition: -o-transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5),
    background 0.3s ease;
  -webkit-transition: -webkit-transform 0.45s
      cubic-bezier(0.43, 0.77, 0.15, 1.5),
    background 0.3s ease;
  transition: transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5),
    background 0.3s ease;
}
.Burger i {
  display: block;
  width: 42px;
  height: 2px;
  margin: 8px;
  background-color: #7a7a7a;
}
.Burger:hover i:nth-child(1) {
  -moz-transform: translate3d(0, -4px, 0);
  -ms-transform: translate3d(0, -4px, 0);
  -webkit-transform: translate3d(0, -4px, 0);
  transform: translate3d(0, -4px, 0);
}
.Burger:hover i:nth-child(3) {
  -moz-transform: translate3d(0, 4px, 0);
  -ms-transform: translate3d(0, 4px, 0);
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
}

.Navigation {
  position: fixed;
  top: 50vh;
  width: calc(100% - 100px);
}
.Navigation i {
  border: solid #8a8a8a;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 15px;
  height: 15px;
  margin: 10px;
}
/* .Navigation svg:hover {
  cursor: pointer;
  color: "#28ca41";
} */
.Right {
  position: absolute;
  right: 50px;

  /* transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); */
}

.Right:hover {
  right: 40px;
  fill: white;
  cursor: pointer;
  width: 60px;
}

.Left {
  position: absolute;
  left: 50px;

  /* transform: rotate(135deg);
  -webkit-transform: rotate(135deg); */
}
.Left:hover {
  left: 40px;
  width: 60px;
  fill: white;
  cursor: pointer;
}
.Menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #2a2a2a;
  color: #8a8a8a;
}
.HideMenu {
  display: none;
}
.Cancel {
  position: fixed;
  left: 85%;
  top: 10%;
}
.Cancel:hover svg {
  fill: white;
  cursor: pointer;
}
.Menu li:hover {
  color: white;
  cursor: pointer;
}
.Menu ul {
  margin: 20% 20%;
}
.Menu ul li {
  display: block;
  font-size: 1.5rem;
  margin: 20px 0;
  text-align: center;
}
@media (max-width: 500px) {
  .Onepage {
    padding: 0px;
  }
  .SiteImage {
    height: 170px;
  }
  .Navigation {
    width: calc(100%);
  }
  .Left {
    left: 8px;

    /* transform: rotate(135deg);
    -webkit-transform: rotate(135deg); */
  }
  .Left:hover {
    left: 5px;
  }
  .Right {
    right: 8px;
  }

  .Right:hover {
    right: 5px;
  }
  .Onepage h1 {
    margin-top: 80px;
    font-size: 1.5rem;
  }
}
