.Menu {
  display: block;
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 99;
}
.Ul {
  width: auto;
  text-align: right;
  min-height: 40px;
  background: #000;
  float: left;
  padding: 0 27px;
  margin: 0;
}
.Appear {
  visibility: hidden;
  opacity: 0;
  -moz-transform: translate(8%, 1%);
  -o-transform: translate(8%, 1%);
  -webkit-transform: translate(8%, 1%);
  transform: translate(8%, 1%);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.Disappear {
  visibility: visible;
  opacity: 1;
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (max-width: 500px) {
  .Menu {
    top: 0px;
    right: 39px;
  }
}
