.head-section {
  position: relative;
  margin-bottom: 85px;
}
.text-center {
  text-align: center !important;
}

.resume {
  position: relative;
}
.resume .ex-container {
  padding: 0 5px 13px;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  width: 83%;
}
.resume .ex-container .mb-head {
  margin-bottom: 57px;
}
.resume .ex-block-right {
  float: right;
}

.resume .ex-block-left {
  float: left;
  text-align: right;
  direction: rtl;
}

.resume .ex-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}
.resume .ex-content {
  width: 94%;
  padding: 18px 16px 0;
}
.resume .marker-head {
  width: 87px;
  height: 80px;
  border-radius: 40px;
  text-align: center;
  margin-left: -32px;
  font-size: 45px;
  color: #f3f3f3;
  z-index: 9;
  background-color: rgba(228, 60, 92, 1);
}
.resume .marker {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 8px solid #f3f3f3;
  z-index: 9;
  margin: 43px -4px auto;
}
.resume .ex-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #f3f3f3;
  z-index: 1;
}
.resume .ex-container:before,
.resume .marker,
.resume .marker-head i {
  -webkit-box-shadow: -1px 1px 1px 1px #c8c8c8;
  -moz-box-shadow: -1px 1px 1px 1px #c8c8c8;
  -o-box-shadow: -1px 1px 1px 1px #c8c8c8;
  box-shadow: -1px 1px 1px 1px #c8c8c8;
}

/* .resume .marker-head svg {
    vertical-align: middle;
  } */
.resume .marker {
  border-color: #fff;
  background-color: rgba(228, 60, 92, 1);
}
.resume .ex-shadow:hover {
  -webkit-box-shadow: 0 1px 12px 0 #adadad;
  -moz-box-shadow: 0 1px 12px 0 #adadad;
  -o-box-shadow: 0 1px 12px 0 #adadad;
  box-shadow: 0 1px 12px 0 #adadad;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
@media (max-width: 991px) {
  .head-section {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .resume .ex-container {
    overflow: inherit;
  }
}
@media (max-width: 767px) {
  .resume .ex-block-right {
    float: none;
  }
}
@media (max-width: 767px) {
  .resume .ex-block {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .resume .ex-block-left {
    float: none;
    text-align: left;
    direction: ltr;
  }
}
@media (max-width: 767px) {
  .resume .ex-block-left {
    float: none;
    direction: ltr;
  }
}
@media (max-width: 767px) {
  .resume .ex-block-right {
    float: none;
  }
}

@media (max-width: 767px) {
  .resume .ex-block {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .resume .marker-head {
    width: 55px;
    height: 55px;
    margin-left: -24px;
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .resume .ex-container:before {
    left: 8px;
    width: 2px;
  }
}

@media (max-width: 767px) {
  .resume .marker {
    margin-left: -7px;
  }
}
