.Link a {
  border: none;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.Link a:hover * {
  cursor: pointer;
  color: #013a55;
}
.Link a:hover img {
  filter: brightness(1) invert(0);
}
