.Contact {
  background-color: #2a2a2a;
  padding: 50px 10%;
}
.Location {
  width: 100%;
}
.Contact h1 {
  color: white;
}

.Header {
  text-align: center;
  color: white;
  padding: 20px;
}
.Contact h2 {
  text-transform: none;
  margin: 20px;
  color: #bbbbbb;
}
.Row {
  overflow: hidden;
}
.ContactInfo {
  float: left;
  width: 60%;
}
.Map {
  margin-left: 5%;
  float: left;
  width: 35%;
}
.Linkedin {
  display: inline;
  margin: 20px;
}
.Linkedin:hover svg {
  fill: white;
  cursor: pointer;
}
.Github {
  display: inline;
  margin: 20px 0;
}
.Github:hover svg {
  fill: white;
  cursor: pointer;
}
@media (max-width: 500px) {
  .Contact {
    background-color: #2a2a2a;
    padding: 50px 3%;
  }
  .ContactInfo {
    width: 80%;
  }
  .Contact h2 {
    text-transform: none;
    margin: 20px;
    color: #bbbbbb;
    font-size: 1.3rem;
  }
  .Map {
    width: 80%;
    margin: 10%;
  }
}
