.Logo {
  vertical-align: middle;
  float: left;
  padding: 0;
}
.Logoname {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  padding: 7px 0;
  line-height: 1.4;
}
.Logo h1 {
  font-size: 1.4rem;
}
.Logo h2 {
  font-size: 1rem;
  color: white;
}
.Logo img {
  display: inline-block;
  vertical-align: middle;
  width: 64px;
  height: 64px;
}
