.Progressbar {
  width: 44%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% 0 3%;
}
.Progressbar p {
  font-size: 1.2rem;
  font: bold;
  color: #2098d1;
}
.Linearbar {
  width: 60%;
}
@media (max-width: 500px) {
  .Progressbar {
    width: 80%;
  }
  .Linearbar {
    display: none;
  }
}
