.Item {
  /* width: calc(33% - 20px);
  min-width: calc(33% - 20px); */
  width: calc(40vh * 1.5);
  background-color: #000000;
  /* -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; */

  background-position: center;
  background-size: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-right: 20px;
  margin-top: 20px;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
.AboutItem {
  width: calc(30% - 20px);
  min-width: calc(30% - 20px);
  /*width: calc(40vh * 1.5);*/
  background-color: #000000;
  /* -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; */

  background-position: center;
  background-size: 100%;
  height: auto;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-right: 20px;
  margin-top: 20px;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
/* .PortfolioItem {
  width: calc(33vh * 1.777);
  height: 33vh;
} */
.PortfolioItem {
  width: 31%;
  height: calc(31% * 0.7);
}
.Item:nth-child(3n) {
  margin-top: 20px;
  margin-right: 0;
}

.Item:last-child {
  margin-right: 0;
}
.Item .Overlay {
  /* FF3.6-15 */
  background: rgba(228, 60, 92, 0.8);
  /* Chrome10-25,Safari5.1-6 */
  background: rgba(228, 60, 92, 0.8);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  padding: 20px;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.125s ease;
  transition: opacity 0.125s ease;
}
.Item:hover {
  cursor: pointer;
}
.Item:hover .Overlay {
  opacity: 1;
  pointer-events: all;
  display: block;
}
.Item .Overlay p {
  position: absolute;
  top: calc(50% - 40px);
  width: calc(100% - 40px);
  text-align: center;
}
.AboutItem .Overlay {
  /* FF3.6-15 */
  background: rgba(228, 60, 92, 0.8);
  /* Chrome10-25,Safari5.1-6 */
  background: rgba(228, 60, 92, 0.8);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  padding: 20px;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.125s ease;
  transition: opacity 0.125s ease;
}
.AboutItem:hover {
  cursor: pointer;
}
.AboutItem:hover .Overlay {
  opacity: 1;
  pointer-events: all;
  display: block;
}

.AboutItem:hover .Overlay p {
  position: absolute;
  top: calc(50% - 40px);
  width: calc(100% - 40px);
  text-align: center;
}
.Image {
  display: block;
  width: 100%;
}
.Bar {
  display: block;
  position: relative;
  height: 24px;
  background-color: #ddd;
  width: 100%;
  color: #6a6a6a;
  z-index: 10;
}
.Bar h2 {
  content: attr(data-text);
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: #8a8a8a;
  margin: 0;
}
.Bar i:before {
  content: " ";
  left: 16px;
  background-color: #ffbd2e;
  top: 0;
  height: 12px;
  width: 12px;
  display: inline-block;

  border-radius: 50%;
  position: absolute;
}
.Bar i:after {
  content: " ";
  left: 32px;
  background-color: #28ca41;
  top: 0;
  height: 12px;
  width: 12px;
  display: inline-block;

  border-radius: 50%;
  position: absolute;
}
.Bar i {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: #ff5f57;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 10px;
}
@media (max-width: 1100px) {
  .Item {
    width: calc(47%);
    min-width: calc(47%);
    margin: 6px 0;
    height: auto;
  }
  .Item:nth-child(3n) {
    margin-top: 6px;
    margin-right: 0;
  }
  .Item:nth-child(2n) {
    margin-top: 6px;
    margin-right: 0;
  }
  .Item .Overlay {
    padding: 5px;
  }

  .Item .Overlay p {
    font-size: 1.2rem;
    top: calc(50%);
    width: calc(100% - 10px);
  }
}

@media (max-width: 700px) {
  .Item {
    width: calc(80%);
    min-width: calc(80%);
    margin: 10px 10%;
    height: auto;
  }
}

@media (max-width: 500px) {
  .AboutItem {
    width: calc(47%);
    min-width: calc(47%);
    margin: 6px 0;
    height: auto;
  }
  .AboutItem:nth-child(3n) {
    margin-top: 6px;
    margin-right: 0;
  }
  .AboutItem:nth-child(2n) {
    margin-top: 6px;
    margin-right: 0;
  }
  .AboutItem .Overlay {
    padding: 5px;
  }

  .AboutItem .Overlay p {
    font-size: 1.2rem;
    top: calc(50%);
    width: calc(100% - 10px);
  }
}
